body {
    background-image: url("/assets/math1.jpeg");
    color: wheat;
    text-align: center;
}

body.qua {
    background-image: url("/assets/quad.jpeg");
    color: black;
    text-align: center;
}

a {
    color: wheat;
}

div.card {
    background-color: black;
    color: blue;
}
#results{
    display: none;
}
